﻿@using Microsoft.AspNetCore.Html
@model Tuple<DataSliver, Shard.Data.ShardContext>

    <div style="display: flex; align-items: stretch; align-content: stretch;font-size:1.5em">
        @{
            var lanes = Model.Item2.Set<DataLane>().ToList();

            void Render(DataSliver s, int level)
            {
                var children = s.GetChildren(Model.Item2)
                    .OrderBy(o => o.LanePosition*1.0001f + o.Id).ToList();
                var classes = "";
                if (level%2==1) classes += " oddbox";
                if (!children.Any()) classes += " leaf";

                <div class="shard box @classes">
                    <div class="self">
                        <p class="actions">
                            <button onclick="location.href='@Url.Action("MoveLeft","Home",new{Id=s.Id,CurrentId=Model.Item1.Id})';">Left</button>
                            <button onclick="location.href='@Url.Action("MoveRight","Home",new{Id=s.Id,CurrentId=Model.Item1.Id})';">Right</button>
                            <button onclick="location.href='@Url.Action("Edit","DataSlivers",new{Id=s.Id,CurrentId=Model.Item1.Id})';">Edit</button>
                            <button onclick="location.href='@Url.Action("Zoom","Home",new{Id=s.Id})';">Zoom</button>
                            <button onclick="location.href='@Url.Action("Create","Home",new{Id=s.Id,CurrentId=Model.Item1.Id})';">+Child</button>
                            <button onclick="location.href='@Url.Action("Remove","Home",new{Id=s.Id,CurrentId=Model.Item1.Id})';">Delete</button>
                        </p>
                    <h2><i style="opacity:0.6">@s.Id -</i> @s.Title 
                        @if (s.LaneId != null)
                        {
                            <sup style="opacity:0.6">@lanes.First(f => f.Id == s.LaneId).Title</sup>
                        }
                    </h2>
                    <p class="desc">@(new HtmlString(s.Description))</p>
                    </div>
                    @{ children.ForEach(f => Render(f, level+1)); }
                </div>
            }

            Render(Model.Item1, 0);
        }
    </div>
