﻿@using Microsoft.AspNetCore.Html
@model Shard.Models.LaneViewModel

<div class="shard" style="flex-flow: row;">
    @foreach(DataLane l in Model.Lanes.OrderBy(o => o.LaneOrder))
    {
        <div class="box" style="flex-grow:2;">
            <h4 style="text-align:center"><i style="opacity:0.6">@l.Id -</i> @l.Title</h4>
            <ul>
            @foreach (DataSliver s in Model.Slivers.Where(w => w.LaneId == l.Id)
               .OrderBy(o => o.LanePosition).ToList())
            {
                <li>
                    <b>@s.Title</b>
                </li>
            }
            </ul>
        </div>
    }
</div>