﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .container {
            max-width: 95%;
        }

        .box {
            border: 1px solid #ccc7;
            margin: 0.5em 0.25em;
            padding: 1em 0.5em 0;
            background-color: #f6f6f6;
        }

        .oddbox {
            background-color: #fff;
        }

        .box, button {
            border-radius: 1em;
        }

        .actions {
            float: right;
            text-align: right;
            font-size: 10px;
        }

            .actions button {
                border: solid 1px #0003;
                background: #def;
            }

        .self {
            width: 100%;
            position: relative;
        }

        .shard {
            display: flex;
            overflow: hidden;
            flex-grow: 2;
            -webkit-flex-flow: row;
            flex-flow: row wrap;
            justify-content: flex-end;
            align-items: stretch;
            align-content: stretch;
            min-width: 14em;
            min-height: 7em;
        }

            .shard h2 {
                font-size: 1.5em;
                text-overflow: ellipsis;
                text-wrap: none;
            }

            .shard .shard {
                font-size: 0.93em;
                box-shadow: inset hsl(90, 100%, 70%) 1px -1px;
            }

                .shard .shard .shard {
                    box-shadow: inset hsl(180, 100%, 70%) 1px -1px;
                }

                    .shard .shard .shard .shard {
                        box-shadow: inset hsl(270, 100%, 70%) 1px -1px;
                    }

                        .shard .shard .shard .shard .shard {
                            box-shadow: inset hsl(45, 100%, 70%) 1px -1px;
                        }

                            .shard .shard .shard .shard .shard .shard {
                                box-shadow: inset hsl(135, 100%, 70%) 1px -1px;
                            }

                                .shard .shard .shard .shard .shard .shard .shard {
                                    box-shadow: inset hsl(-135, 100%, 70%) 1px -1px;
                                }

                                    .shard .shard .shard .shard .shard .shard .shard .shard {
                                        box-shadow: inset hsl(-45, 100%, 70%) 1px -1px;
                                    }

                                        .shard .shard .shard .shard .shard .shard .shard .shard .shard {
                                            box-shadow: inset hsl(0, 100%, 70%) 1px -1px;
                                        }

                                            .shard .shard .shard .shard .shard .shard .shard .shard .shard .shard {
                                            box-shadow: none;
                                        }
        .leaf {
            background-color: #ffe;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Slivers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DataLanes" asp-action="GetLanes">Lanes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DataSlivers" asp-action="Titles">Titles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DataSlivers" asp-action="Descriptions">Descriptions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DataSlivers" asp-action="Both">Both</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DataSlivers" asp-action="Index">Sliver Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DataLanes" asp-action="Index">Lane Admin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Shard - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
